html, body {
    box-sizing: border-box;
    margin: 0px;
}

.input-container{
    padding: 16px;
    display: flex;
    flex-direction: row;
}

.input-bottom{
    margin-bottom: 8px;
}

.card-content{
   flex-wrap: wrap;
}

.card-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 100%;
    flex-wrap: wrap;
    gap: 16px;
    margin: 16px;
}

.form-container{
    display: flex;
    justify-content: center;
    padding: 8px;
    padding-bottom: 0px;
}